.films{
    padding-top: 50px ;
    padding-bottom: 50px;
}

.film 
{
    padding-top: 250px ;
    padding-bottom: 250px;
    padding: 10px !important;
}

@media (min-width: 600px){
    .iframe1 
    {
        width: 100% !important;
    }
}

@media (max-width: 768px) {
    .iframe1 
    {
        width: 100% !important;
    }
    .film iframe {
        height: 100% !important;
    }
  }

.film iframe 
{
    /* height: 385px; */
    height: 600px;
}