.getin-section
{
    margin-top: 100px !important;
    /* margin: auto; */
    /* height: 100vh; */
}
.getindiv 
{
    width: 100%;
    text-align: center;
}
.getin
{
    height: 250px;
    text-align: center;
    
    height: 200px;
}
.contact-h2
{
    font-family: 'Garamond';
    font-size: 2.9000em;
    color: #9f8c7b;
    opacity: 0.70;
    margin-bottom: 10%;
    line-height: 42px;
    text-align: center;
}

.contact-phone
{
    font-family: 'Open Sans';
    font-size: 1.2000em;
    color: #000;
    opacity: 0.70;
    line-height: 42px;
    text-align: center;
}
.buttom-margin 
{
    margin-bottom: 5px;
}

.my-form-TextField {
    width: 100%;
}

.my-form-Grid {
    padding: 10px;
}
/* .contact-form 
{
    height: 70vh;
} */
.text-right
 {
    text-align: right;
 }
 .contact-faq
  {
    font-family: 'Garamond';
    font-size: 1.5000em;
    color: #000;
    opacity: 0.70;
    line-height: 42px;
    text-align: center;
  }

  .accor 
  {
    margin-bottom: 100px !important;
  }
.sendbutton 
{
    color: #000 !important;
    border: 1px solid !important;
}
fieldset 
{
border-color: #000 !important;
border-width: 0.7px !important;
}
.ccc 
{
    /* --Textarea-focusedHighlight: #de096d !important; */
    --Textarea-focusedHighlight: #000 !important;
    --Textarea-focusedThickness: var(--joy-focus-thickness, 0.7px) !important;
    
}
.ccc label 
{
    color: #9a647d !important;
}
textarea {
    color: #9a647d !important;
}
.TypographyTitle {
    color: #444 !important;
    /* background: #f0e9e0 !important; */
    font-size: 14px !important;
    font-weight: 700 !important;

    font-family: 'Roboto Condensed', sans-serif !important;
}
/* .girdaccordion {
    padding: 34px !important;
} */