/* .css-1ss2ei0-MuiContainer-root {
  max-width: 100% !important;
  z-index: 999999999999999999;
} */
.my-home-vid {
  max-width: 100% !important;
  z-index: 999999999999999999;

  width: 100% !important;
  left: 0px !important; 
  padding-left: 0px !important;
  margin-right: auto !important;
  box-sizing: revert !important; 
}
.my-home-vid2 
{
  width: 100% !important;
  max-width: 100% !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

video {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    /* position: fixed; */
    top: 0;
    left: 0;
    
  }
  
  .instagram-link
  {
    color: #c1cbd4 !important;
     
      padding-top: 10px !important;
  }
  .hello_there
  {
    width: 100%;
  }
  .text-center
  {
    text-align: center !important;
    font-family: 'Garamond';
  }


  /* story  */
  .story_img 
  {
    -webkit-transform: scale(1);
	transform: scale(0.9);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  }
  .story_img:hover  {
    -webkit-transform: scale(0.3);
    transform: scale(1);
  }
  /* story  */




.instagram 
{
  padding-top: 40px !important;
}
.films
{
  padding-top: 40px !important;
}
.filmssection 
{
  margin-top: 10px !important;
}

/* .slider-wrapper.axis-horizontal {
  height: 350px !important;
} */

.vid1 
{
  object-fit: cover !important;
  /* width: 100% !important; */
  height: 500px !important;
  top: 0;
    left: 0;
}

.f-instagram
{
  margin-top: 16px !important;
}

.my-grid  {
  margin-top: 50px !important;
}

.heading 
{
  font-size: 30px;
    font-family: 'Garamond';
    color: #9f8c7b;
}










.App {
  text-align: center;
}



/* .MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-md-4.css-1lj5egr-MuiGrid-root {
  padding-top: 60px;
} */

.flm 
{
  padding-top: 60px !important;
  padding-left: 0px !important;
}

.iframe {
  width: 100% !important;
}

.section-title {
  margin-bottom: 25px;
}
.section-title h3 {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 30px;
  font-family: 'Garamond';
  color: #9f8c7b;
}
.section-title.text-center h3:before {
  left: -100px;
  top: 55px;
}
h3:before, .section-title h3:after {
  display: inline-block;
  content: "";
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  height: 4px;
  position: absolute;
  width: 80px;
}
.section-title h3:after {
  right: -100px;
  top: 55px;
}
.section-title.text-center h3:before, .section-title h3:after {
  display: inline-block;
  content: "";
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  height: 4px;
  position: absolute;
  width: 80px;
}
.section-title h3 {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 30px;
  font-family: 'Garamond';
  color: #9f8c7b;
}